# Banco de Dados (PostgreSQL)
POSTGRES_USER=bravito_admin
POSTGRES_PASSWORD=bravito_local_pass
POSTGRES_DB=bravito_app
POSTGRES_KEYCLOAK_DB=bravito_keycloak
POSTGRES_PORT=5432

# Autenticação (Keycloak)
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8080
